.container_opc{
  margin-top: 100px;
  position: relative;
  animation-name: aparicion;
  animation-duration: 2s;
  .container_img-triangle{
    text-align: center;
  }
  .container_img-rock, .container_img-paper,.container_img-scissor{
    position: absolute;
    border-radius: 50%;
  }
  .container_img-rock{
    align-items: center;
    background-color: azure;
    border: 20px solid #cc1111;
    display: flex;
    justify-content: center;
    height: 100px;
    left: 35%;
    top: 60%;
    width: 100px;
  }
  .container_img-paper{
    align-items: center;
    background-color: azure;
    border: 20px solid #3344ff;
    display: flex;
    height: 100px;
    justify-content: center;
    top: -10%;
    left: 10%;
    width: 100px;
  }
  .container_img-scissor{
    align-items: center;
    background-color: azure;
    border: 20px solid #ff9911;
    display: flex;
    height: 100px;
    justify-content: center;
    top: -10%;
    left: 65%;
    width: 100px;   
  }

}

@keyframes aparicion {
  to{
    opacity: 1;
  }
  from{
    opacity: 0;
  }
}



@media ( min-width: 560px){
  .container_opc{

    .container_img-paper{
      left: 20%;
    }
    .container_img-scissor{
      left: 60%;
    }
    .container_img-rock{
      left: 40%;
    }
  }
}

@media ( min-width: 781px){
  .container_opc{

    .container_img-paper{
      left: 30%;
    }
    .container_img-scissor{
      left: 55%;
    }
    .container_img-rock{
      left: 42%;
    }
  }
}

@media ( min-width: 960px){
  .container_opc{

    .container_img-paper{
      left: 33%;
    }
    .container_img-scissor{
      left: 55%;
    }
    .container_img-rock{
      left: 44%;
    }
  }
}

@media ( min-width: 1080px){
  .container_opc{

    .container_img-paper{
      left: 35%;
    }
    .container_img-scissor{
      left: 55%;
    }
    .container_img-rock{
      left: 44%;
    }
  }
}