.container_run{
  display: flex;
  justify-content: space-around;
  margin-top: 100px;
  padding: 20px;
  overflow: hidden;
  
  .run_emoji{
    animation: emoji;
    animation-duration: 3s;
    animation-fill-mode: forwards;
    position: absolute;
    left: 75%;
    width: 5%;
    height: 5%;
    text-align: center;
    top: 40%;
    border-radius: 50px;
    line-height: 2;
    background: wheat;
    opacity: 0;
  }
  .run_user{
    position: relative;
    height: 20%;
    animation-name: aparicionUser;
    animation-fill-mode: forwards;
    animation-duration: 2s;
    overflow: hidden;
    .user{
      position: relative;
      align-items: center;
      background-color: azure;
      border: 20px solid #11cc5f;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      height: 80px;
      width: 80px;
    }
  }
  .container_button{
    overflow: hidden;
    display: flex;
    height: 50vh;
    flex-direction: column;
    justify-content: center;
    h1{ 
      position: relative;
      top: 500px;
      animation-name: apacionButton;
      animation-delay: 2s;
      animation-direction: reverse;
      animation-duration: 2s;
      color: azure;
      width: 100%;
    }
    button{
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      color: #333;
      padding: 10px;
      border-radius: 10px;
    }
  }
  .run_machine{
    position: relative;
    height: 20%;
    width: 10%;
    .machine{
      animation-name: rotateMachine;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      position: relative;
      align-items: center;
      background-color: azure;
      border: 20px solid #b11bcc;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      height: 80px;
      width: 80px;
    }
  }
}

@keyframes rotateMachine{
  to{
    transform: rotate(0deg);
    right: 0%;
  }
  from{
    right: -300%;
    transform: rotate(3660deg);
  }
}

@keyframes apacionButton{
  0%{
    opacity: 0;
    transform: translateY(0px);
  }
  50%{
    opacity: 1;
    transform: translateY(-500px);
  }
  100%{
    opacity: 1;
    transform: translateY(-500px);}
 
}

@keyframes aparicionUser {
  to{
    left: 0%;
    transform: rotate(0deg);
  }
  from{
    left: -100%;
    transform: rotate(-3660deg);
  }
}

@keyframes emoji{
  0%{
    opacity: 0;
  }
  50%{
    opacity: 0;
  }
  90%{
    opacity: 0;
  }

  100%{
    opacity: 1;
  }
}