body{
  margin: 0;
  background-color: $background-principal;
  color: $color-principal;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container-principal{
  display: flex;
  margin: 10em 2em 2em 2em;
  justify-content: space-around;
}
.container-opc{
  display: flex;
  position: relative;
  .piedra, .papel, .tijera {
    align-items: center;
    background-color: white;
    border-radius: 50%;
    margin: 20px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    position: absolute;
  }
  .piedra{
    border: 10px solid purple;
    top: -50%;
     
  }
  .papel{
    border: 10px solid cyan;
    top: 20%;
    left: 80px;
  }
  .tijera{
    border: 10px solid hsl(120, 100%, 64%);
    top: 20%;
    left: -80px;
  }

}
.opc-maquina{
  background-color: white;
    border-radius: 50%;
    margin: 20px;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 10px solid $color-principal;
}
.clickmaquina{
  img{
    border-radius: 25%;
    animation-name: clickMaquina;
    animation-duration: 2s;
    box-shadow: 2px 5px 5px 2px $background-principal;
    padding: 8px;
  }
}
.click{
  img{
    border-radius: 25%;
    animation-name: clickme;
    animation-duration: 1s;
    box-shadow: 2px 5px 5px 2px $background-principal;
    padding: 8px;
  }
}
.container_buttons{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 15%;
  padding: 2em;
  .button_play{
    padding: 10px;
    width: 100%;
    border-radius: 10%;
    background-color: $color-principal;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
  .button_play-again{
    @include button-dark;
    padding: 10px;
    margin-top: 10px;
    width: 100%;
  }

}
.resul_user{
  position: absolute;
  top: 20%;
  left: 10%;
  text-shadow: $textshadow-principal;
}
.resul_maquina{
  position: absolute;
  top: 20%;
  left: 80%;
  text-shadow: $textshadow-principal;
}
.container_svg{
  animation-name: aparicion;
  animation-duration: 1s;
  width: 100px;
  position: absolute;
  top: 30%;
  left: 60%;
    svg{
    
        ellipse{
          stroke: $color-principal;
          stroke-width: 2px;
          fill: white;
        }
    }
    .texto-svg{
      position: absolute;
      top:25%;
      right: -140%;
      
    }
}
@keyframes aparicion{
  to{
    opacity: 1;
  }
  from{
    opacity: 0;
  }
}
@keyframes clickme {
  to{
    transform: rotate(0deg);
  }
  from{
    transform: rotate(-360deg);
  }
}

@keyframes clickMaquina {
  to{
    opacity: 1;
    transform: rotate(0deg);
  }
  from{
    opacity: 0;
    transform: rotate(-360deg);
  }
}




@media ( max-width: 450px){
  .resul_user{
    top: 40%;
    font-size: 16px;

  }
  .resul_maquina{
    top: 40%;
    left: 60%;
    font-size: 16px;
  }
  .container-opc{
  .piedra, .papel, .tijera {
    width: 70px;
    height: 70px;
    img{
      width: 30px;
      height: 30px;
    }
    
  }
  .piedra{
    left: -30px;
  }
  .papel{
    left: -30px;

  }
  .tijera{
    left: -30px;
    top: 90%;
  }
}
.opc-maquina{
  width: 90px;
  height: 70px;
  margin-top: 40px;
    .maquina{
      img{
        width: 30px;
        height: 30px;
      }
    }
}
.container_svg{
  top: 45%;
  left: 0%;
    svg{
    
        ellipse{
          stroke: $color-principal;
          stroke-width: 2px;
          fill: white;
        }
      
    }
    .texto-svg{
      position: absolute;
      top:25%;
      right: -140%;
      
    }
}
.container_buttons{
  margin-left: 30%;
  .button_play{
    width: 100%;
    font-size: 10px;
  }
  .button_play-again{
    width: 100%;
    font-size: 10px
  }
}
}

@media (min-width: 451px) and (max-width: 768px){
  
}