

.container_rules{
  position: absolute;
  top: -100%;
  left: 10%;
  transition: top;
  transition-duration: 1s;
  transition-timing-function: ease-in-out;
  .button_cerrar{
    position: absolute;
    background-color: #ccc;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 40%;
    left: 20%;
     color: #999;
     z-index: 1;
  }
  img{
    background-color: white;
    padding: 2em;
    border-radius: 5%;
    position: absolute;
    top: 10%;
     left: 10%;
  }
}
.button_rules{
  @include button-dark;
    margin-top: 50px;
    
}

.aparicionRules{
  top: 20%;
}

@media ( min-width: 560px){
  .container_rules{
    width: auto;
    left: 20%;
    .button_cerrar{
    }
  }
}

@media ( min-width: 781px){
  .container_rules{
    left: 30%;
    .button_cerrar{
    }
  }
}

@media ( min-width: 960px){
  .container_rules{
    left: 35%;
    .button_cerrar{
    }
  }
}