.none{
  display: none;
}

.container_rules{
 
  .button_cerrar{
    position: absolute;
    background-color: white;
    border: none;
    top: 12%;
     left: 57%;
     color: #aaa;
     z-index: 1;
  }
  img{
    background-color: white;
    padding: 2em;
    border-radius: 5%;
    position: absolute;
    top: 10%;
     left: 35%;
  }
}
.button_rules{
  @include button-dark;
    margin-top: 50px;
    margin-right: 10em;
}



@media ( max-width: 450px){

  .container_rules{
    .button_cerrar{
      top: 32%;
      left: 75%;
    }
    img{
      top: 30%;
      left: 20%;
      width: 200px;
      height:200px;
    }
  }
  .button_rules{
    font-size: 10px;
    width: 20%;
    margin-top: 20%;
    margin-right: 5em;
  }
  

}