.none{
  animation-name: aparicionRules ;
  animation-duration: 2s;
  animation-direction: alternate;
  display: none;
}

.container_rules{
  animation-name: aparicionRules ;
  animation-duration: 2s;
  animation-direction: alternate;
  .button_cerrar{
    position: absolute;
    background-color: white;
    border: none;
    top: 12%;
     left: 85%;
     color: #aaa;
     z-index: 1;
  }
  img{
    background-color: white;
    padding: 2em;
    border-radius: 5%;
    position: absolute;
    top: 10%;
     left: 10%;
  }
}
.button_rules{
  @include button-dark;
    margin-top: 50px;
    
}

@keyframes aparicionRules{
  to{
    transform: translatey(-500px); 
  }
  from{
    transform: translateY(500px);
  }
}