.component_score{
  .container_score{
    border: 2px solid #bbb;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin: 40px;
    padding: 20px;
  }
  .score{
    align-items: center;
    background-color: azure;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    font-weight: bold;
    width: 30%;
    p{
      margin: 5px 0 0 0;
    }
    strong{
      font-size: 4em;
    }
  }
}